*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body{
    margin: 0;
    background-color: #CC1C13;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 60px);
    background-color: white;
    padding: 3px;
    border: solid black 2px;
    box-shadow: 10px 10px 3px 5px #00000033;
}